<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShortcutMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43BFE3631E10E5C70055931E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BFE3721E10E5C80055931E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BFE37D1E10E5C80055931E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
